<div class="all-tiles">
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
    <div class="tile">
        <h1>Title</h1>
        <p>Author</p>
        <p>Date</p>
        <p>Story Text</p>
    </div>
</div>
